<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_merapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_merapp_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmaranInventory"
        tools:targetApi="31">
        <activity
            android:name=".precio_super"
            android:exported="false" />
        <activity
            android:name=".precio_tottus"
            android:exported="false" />
        <activity
            android:name=".precio_plazavea"
            android:exported="false" />
        <activity
            android:name=".precio_mayorista"
            android:exported="false" />
        <activity
            android:name=".precio_tristan"
            android:exported="false" />
        <activity
            android:name=".precio_lambramani"
            android:exported="false" />
        <activity
            android:name=".precio_emmel"
            android:exported="false" />
        <activity
            android:name=".s_super"
            android:exported="false" />
        <activity
            android:name=".s_metro"
            android:exported="false" />
        <activity
            android:name=".s_tottus"
            android:exported="false" />
        <activity
            android:name=".sp_peruanos"
            android:exported="false" />
        <activity
            android:name=".sc_franco"
            android:exported="false" />
        <activity
            android:name=".Second_activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".editar"
            android:parentActivityName=".Second_activity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".detalles"
            android:parentActivityName=".Second_activity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".agregar"
            android:label="Inentario"
            android:parentActivityName=".Second_activity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>